
 
<div style="background-color:#A3D8E6;margin-top: -3%">
 <div class="panel panel-default" style="padding-top: 2%">
        <div class="panel-heading "><h3 class="text-center">New Apply</h3></div>
   </div>
  <%= render 'form', apply: @apply %>
</div>


