<h1 align="center">Editing Student</h1>

<%= render 'form', student: @student %>
<hr>
<div class="container-fluid">
<div class="well">
  <div class="row">
     <div class="col-sm-12">
         <div class="col-sm-3">
             <button type="button" class="btn btn-success btn-md">
             	<%= link_to 'Back', @student, class: "btn btn-xs btn-primary" %>
             </button>
         </div>
     </div>

  </div>
</div>
 </div>
