<div id="contact" style="margin-bottom:0px;">
    <div class="container">
        <div class="headline" style="margin-left:0px; color:#3a87ad;">
            <h3>Contact Placement Cell IIIT-Kalyani</h3><hr>
        </div>
        <div class="row-fluid">
            <div class="col-md-12 intro" style="width:100%; margin-bottom:30px; padding:0px 0px 0px 0px;">
                <div class="row-fluid">
                    <div class="col-md-4" style="margin-left:0px;">
                        <div style="margin-left:0px;color:#3a87ad;">
                            <h3>Address</h3>
                        </div>
                        <div class="row">
                            <div class="well">
                                <div>
                                    <h4 style="font-weight: bold;">Contact</h6>
                                </div>
                                <ul class="street">
                                    <li><h4><b>Placement officer name</b></h4></li>
                                    <li style="margin-bottom: 15px">Manager-Placement and CEP.</li>
                                    <li>Indian Institute of Information Technology, Near
                                        Webel,IT-Park
                                    </li>
                                    <li>Kalyani (741235), West Bengal (India)</li>
                                    <li class="icon icontop">
                                        <span class="contacticos ico1"></span>
                                        <span class="text">[Mobile] +91 xxxxxxxxxx</span></br>
                                    </li>
                                    <li class="icon">
                                        <span class="contacticos ico2"></span>
                                        imon@gmail.com
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-8">
                        <div style="margin-left:0px;color:#3a87ad;">
                        <h3>Location Map</h3>
                        </div>
                        <div class="well">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14694.966488913236!2d88.4371258647487!3d22.95974085857749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f894fc95000001%3A0xc22322ea814b0761!2sIIIT+Kalyani+Campus!5e0!3m2!1sen!2sin!4v1492662427846" width="700" height="310" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                       </div>
                </div>
             </div>
        </div>
    </div>
</div>
</div>

