 <div class="row">
 <div class="col-sm-12 full-width" id="im">
<%= image_tag("college.jpg", class: "img-responsive img-circle",style: "width: 102%;position: relative;margin-top: 18px;border:1px ;margin-bottom: 20px" ) %>
</div>
</div>


