
	     <div class="container-fluid">
		<div class="row">
		   <div class="col-md-12">
		      <div class="well">
		         <div style="color:#d1a90c;background-color: black">
		       <h1 align="center"><strong>Why IIIT-Kalyani</strong></h1>
		       </div>
		        <hr>
		   	 <p>A Memorandum of Understanding (MoU) was signed between <span style="color:#d1a90c;">Government of India</span>, <span style="-color:#d1a90c;">Government of West Bengal</span> and <span style="color:#d1a90c;">Industry Partners, viz</span>; Coal India Limited, Rolta Foundation and JSW Steel Limited for setting up of <span style="color:#d1a90c;">Indian Institute of Information Technology(IIIT), Kalyani.</span>Under the guidance of the Mentor Director Professor  P.P.Chakroborti,, Director of Indian Institute of  Technology, Kharagpur  and number of industry representatives, the Institute aims to excel in education and research in Information Technology and allied areas.</p>
			  </div>
           </div>
           <div class="col-md-12">
           	 <div class="well">
           	 	
                <div id="why-row2">
					<div class="left-sec">
						<ul class="why-list">
    						<li>The Institute has designed a 4-year B. Tech programme in IT which will be unique in the sense that the programme will provide a solid foundation in fundamentals of computer science and technology, along with the skill set required for solving complex problems, faced by the industry in 21st Century.</li>
    						<li>The students of <span style="color:#d1a90c;">IIIT, Kalyani</span> will get an opportunity to study in-depth a number of applications of IT in industries, business, and service sector which will help them in the job market.</li>
    
    						<li>With the <span style="color:#d1a90c;">NASSCOM </span>Head of Eastern Region, <span style="color:#d1a90c;">FICCI & CII</span> associated with this IIIT, the Institute will try to provide internship to the students in the major industries of the country.  The Industry Partners are from Coal India Limited, Rolta Foundation & JSW Steel Limited.  The <span style="color:#d1a90c;">IIIT, Kalyani </span>looks forward to receive enormous support and help from the major industries of India.</li>
    
    						<li>The 4-year B. Tech will provide ample scope to the students in getting internship so that they can work directly on industry related problems in the area of information technology.</li>
    
    						<li>The Institute is located temporarily inside the JIS Engineering College campus at Kalyani.  However, the Government of West Bengal has allotted 50 acres of prime land in the Kalyani Township for setting up the Institute.</li>
    
    						<li>The Institute will try to arrange accommodation for the outstation students to the maximum possible extent.  However, accommodation is not guaranteed for all the students.</li>
							<li>The Institute will be backed by a blend of experienced retired senior Professors of Universities and young dynamic faculty members coming out of national institutes of India.  IIIT will provide excellent educational opportunity to the students.</li>
						</ul>
				
					</div>
					<div class="right-sec">
						<ul class="why-list">
							<li><b>Locational Advantage</b> <span style="color:#d1a90c;">IIIT Kalyani</span> is located at an hour drive from the bustling metro-city, Kolkata, which is also hub of immense IT activities with presence of IT Companies such as Wipro, TCS, Cognizant, IBM, Capegemini.  It is a calm, peaceful and productive place to study and student-friendly atmosphere all around.</li>
    						<li><b>Strong Industry Interface</b> <span style="color:#d1a90c;">IIIT Kalyani</span> has a strong, active and growing interface with business and industry, with experts from a range of leading companies and thought leaders of IT Industry delivering regular guest lectures and serving as members of various advisory boards.</li>
    
    						<li><b>Projects</b> Students are encouraged to take up projects on contemporary topics as a part of their independent study.  Arrangements will be made for practical training on live projects in conjunction with leading companies in the industry.</li>
    
    						<li><b>Interaction with Business Leaders</b> Students will have the opportunity to interact with leading management thinkers, corporate leaders and entrepreneurs, and other high profile personalities from govt. organisations and NGOs at various forums organised by <span style="color:#d1a90c;">IIIT Kalyani</span>.</li>
    
    						<li><b>Computing Facilities</b> <span style="color:#d1a90c;">IIIT Kalyani</span> provides the latest hardware and software infrastructure including high-speed internet connection to cater to all the computing needs of the students and the training requirements of the information technology courses.</li>
					</ul>
					</div>
				</div>
				<p class="tab-nrml-txt-bootom"><span style="color:#d1a90c;">IIIT, Kalyani</span> will not only create industry ready IT Graduates to feed the demand of the industry, but it will also act as a catalyst in fostering an innovative entrepreneur-focused ecosystem to ensure that new products, solutions and IP are created in the State taking advantage of the intellectual capital of the State.</p>
			</div>
		</div>






           	 </div>



           </div>
		   </div>
		</<div>
			
		