 <div class="col-sm-12 full-width" style="background-color: black">
 <div class="container-fluid " >
      <footer class="footer ">
         <div class="row ">
            <div class="col-sm-4 ">
                <h3 class="footer_header par left cyan"  >
                    About Placement Cell
                </h3>
                <div class="wrapper">
                    <p class="quote " style="text-align:justify; font-family:Verdana, Geneva, sans-serif;color: white">The Placement
                        Cell at IIIT-Kalyani is a concept in its own form. It works professionally abiding the hierarchy of
                        the placement officer followed by the placement secretary, the faculty members and finally the
                        student representatives from each stream. The hierarchy aims at touching all the aspects
                        required for the smooth functioning of placement body of the reputed  Institution IIIT-Kalyani.
                         </p>
                </div>
            </div>
            <div class="col-sm-4  " style="margin-left:25px;margin-right: 0px">
                <h3 class="footer_header par left cyan" style="margin-left: -4px">
                    Contact Us
                </h3>

                <div class="wrapper" style="padding-left:0px;">
                    <p class="quote" style="margin-bottom:0px; color:white; text-align:justify;margin-left: 0px">Indian
                        Institute of Information Technology Kalyani,<br>
                        Webel IT Park,Kalyani (741235),<br>
                        West Bengal (India)
                    </p>
                    <div class="row" >
                        <div class="col-sm-6" style="color: white">
                            <i class="glyphicon glyphicon-phone-alt" style="font-size:16px;color: cyan"></i> Abhishek Kumar
                        </div>
                        <div class="col-sm-6" style="color: blue">
                            <div>(M) +91 xxxxxxxxxx</div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-sm-6" style="color: white">
                            <i class="glyphicon glyphicon-phone-alt" style="font-size:16px;color: cyan"></i> Anupam Saha
                        </div>
                        <div class="col-sm-6" style="color: blue">
                            <div>(M) +91 xxxxxxxxxx</div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-sm-6" style="color: white">
                            <i class="glyphicon glyphicon-phone-alt" style="font-size:16px;color: cyan"></i> Shikha Verma
                        </div>
                        <div class="col-sm-6" style="color: blue">
                            <div>(M) +91 xxxxxxxxxx</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6" style="color: white;">
                            <i class="glyphicon glyphicon-phone-alt" style="font-size:16px;color: cyan"></i> Shubham Kumar <br>
                        </div>
                        <div class="col-sm-6" style="color: blue">
                            <div>(O) +91 xxxxxxxxxx</div>
                        </div>
                        <p class="quote" style="color:#FFF;margin-left: 15px;color: red"><i class="glyphicon glyphicon-envelope" style="font-size:16px ; margin-right:5px; font-style:normal;f"></i><strong>placement@iiitkalyani.ac.in</strong>
                    </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-4 " style="margin-left: -25px;">
                <h3 class="footer_header par left cyan"  >
                    External Links
                </h3>
                <ul>
                    <li ><a href="#" target="_blank" style="text-decoration:none;color: blue;"> Placement Brochure</a></li>
                    <li ><a href="https://www.facebook.com/iiitkalyani/" target="_blank" style="text-decoration:none;color: blue;">Facebook</a></li>
                </ul>
            </div> 
        </div>
        <div class="row" style="border-top: 1px;">
            <div class="col-sm-12">
                <div class="row  ">
                    <div class="col-sm-12" >
                    <p style="text-align: center;" class="par">2017&minus;18 &copy; Placement Cell, IIIT-Kalyani.</p>
                    </div>
                </div>
            </div>
        </div>
   </footer>
</div>
</div>
